@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

html {
    --antd-wave-shadow-color:  #a7425c;
}

::selection {
    background: #a7425c;
    color: #a7425c;
    text-shadow: none;
    text-decoration: none;
}

.header-container {
    height: 10%;
    width: 100%;
    background-color: #f3d7ca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.header-container h1 {
    margin: auto;
    color: #a7425c;
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
}

.header-container img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.header-identity {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 2.5%;
}

.header-carret {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 5%;
}

.connection-status {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    border-radius: 100%;
}

.settings-separator {
    background-color: #432f44;
    height: 1px;
    border: 0;
}

.ant-slider-track {
    background-color: #a7425c;
}

.ant-slider-track:hover {
    background-color: #a7425c;
    border: solid 2px #a7425c;
}

.ant-slider-mark:hover {
    background-color: #a7425c;
    border: solid 2px #a7425c;
}

.ant-slider-handle {
    border: solid 2px #a7425c;
}

.ant-slider-track {
    border: solid 2px #a7425c;
    color: #a7425c;
}

.ant-slider-handle:focus {
    border: solid 2px #a7425c;
    color: #a7425c;
}

.ant-slider-handle.ant-tooltip-open {
    border: solid 2px #a7425c;
    color: #a7425c;
}

.ant-slider-rail {
    border: solid 2px #a7425c;
    color: #a7425c;
}

.ant-slider-handle-click-focused {
    border: solid 2px #a7425c;
    color: #a7425c;
}

.ant-slider-handle:focus {
    color: #a7425c;
    border: solid 2px #a7425c;
    box-shadow: none;
}

.ant-slider-handle-click-focused::selection {
    background: #a7425c;
    color: #a7425c;
    border: solid 2px #a7425c;
    box-shadow: none;
}

.ant-slider-handle-click-focused:hover {
    border: solid 2px #a7425c;
    color: #a7425c;
}

.ant-slider-handle ant-tooltip-open {
    border: solid 2px #a7425c;
    color: #a7425c;
}

.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
    border: solid 2px #a7425c;
    color: #a7425c;
}

.ant-popover {
    max-width: 200px;
}

.ant-popover p {
    margin-bottom: 5px;
}
