@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

.header-container {
    height: 10%;
    width: 100%;
    background-color: #f3d7ca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.header-container h1 {
    margin: auto;
    color: #a7425c;
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
}

.header-container img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.header-identity {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 2.5%;
}

.header-carret {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 5%;
}
