@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

.footer-container {
    height: 10%;
    width: 100%;
    background-color: #f3d7ca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.footer-container p {
    margin: 10px;
    font-family: Sacramento, cursive;
    font-size: 30px;
    color: #a7425c;
}

.footer-container a {
    text-decoration: none;
    color: #a7425c;
}

.footer-container a:hover {
    text-decoration: underline;
    color: #432f44;
}
